*{
    margin: 0;
    padding: 0;
}
header{
    background-color: lightgreen;
    margin: 0 0 3% 0;
    padding: 3%;
    text-align: center;
    border-bottom: solid black 2px;
}
main{
    margin: 0 2% 0 2%;
}
html{
    min-height: 100%;
    background-color: lightgrey;
}
footer{
    bottom: 0%;
    position: absolute;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
    border-top: solid black 2px;
    padding: 5px;
}
.char-img{
    width: 200px;
    border: solid black 2px;
}
.flex-box{
    display: flex;

}
.char-func{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.func-btns{
    display: flex;
    justify-content: space-evenly;
}
.func-btns button{
    width: 50px;
    margin-top: 25px;
    border: solid black 2px;
}
.char-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    width: 100%;
}
.char-info p{
    font-size: 25px;
    letter-spacing: 2px;
    padding: 5px;
    border: solid black 2px;
}
.pet-name{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: underline;
    padding: 0 0 20px 0;
}